.post-card .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-card a {
    color:#0a58ca;;
    cursor: pointer;
}

.preview {
    width: 200px;
    height:200px;
    border:solid;
    margin: 10px;
  }
 
.preview img {
     width: 100%;
     height: 100%;
     object-fit: contain;
}

.comment-list-container {
    font-size: 0.9rem!important;
}

.comment-row {
    background-color: #e0e0e0;
}